/* styles.css file */
.header {
padding: 5vh 5vw;
text-align: center;
background-image: url(https://i.pinimg.com/1200x/72/87/59/728759150b0ce3fe712e6e3a8c89489e.jpg) ;
background-size: 30%;
color: rgb(251, 163, 195);
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.header h1 {
font-size: 50px;
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

.navbar {
overflow: hidden;
background-color: rgb(108, 120, 19);
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

.navbar a {
float:left;
display:block;
color: #f5adc7;
text-align: center;
padding: 3vh 2vw;
text-decoration: none;
position: relative;
}

.navbar a.right {
float: right;
position: relative;
}

.navbar a:hover {
background-color: grey;
color: rgb(124, 36, 90);
position: relative;
}

.row {
margin-top: 15px;
margin-bottom: 5px;
justify-content: center;
align-items: center;
display: flex;
flex-wrap: wrap;
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

.game-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 75vh;
    /* width: 100vw; */
}

.main {
  margin-left: 8px;
  background-color: rgb(255, 255, 255);
  padding: 1px 1px;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}


.doll-area {
    display: flex;
    background-color: #f5adc7;
    width: 50vw;
    height: 100%;
    border: 2px solid black;
    position: relative;
    margin-left: 2px;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.title {
    background-color: rgb(108, 120, 19);
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: 0.5px solid black;
    color:#f5adc7;
    position: flex;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.title:hover {
    background-color: rgb(141, 150, 76);
    color: white;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.hidden {
    display: none; 
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.container {
    width: 40vw;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 40px ;
    position: flex;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.clothes {
    width: 100%;
    height: 100%;
    background-color: #f5adc7;
    padding: 5px 5px;
    border: 0.5px solid black;
    cursor: pointer;
    font-size: 16px;
    position: flex;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.clothing-item {
    border-width: 100px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin-bottom: 0px;
    position: flex;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.clothes:hover {
    background-color: rgb(124, 36, 90);
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.reset-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 4px;
  justify-content: center;
  align-items: center;

}

.resetButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 6px;
    height: 100%;
    background-color: rgb(108, 120, 19);
    border: black solid 1px;
    scale: 2.5;
    color: #f5adc7;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@media (max-width: 600px) {
  .doll.area {
    width: 80vw;
  }
  .container {
    width: 80vw;
  }
}
