/* styles.css file */
.header {
padding: 40px;
text-align: center;
background-image: url(https://i.pinimg.com/1200x/72/87/59/728759150b0ce3fe712e6e3a8c89489e.jpg) ;
background-size: 30%;
color: rgb(251, 163, 195)
 }


.header h1 {
    font-size: 40px;
}

.navbar {
overflow: hidden;
background-color: rgb(108, 120, 19);

}

.navbar a {
float:left;
display:block;
color: #f5adc7;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.navbar a.right {
float: right;
}

.navbar a:hover {
background-color: grey;
color: rgb(124, 36, 90);

}

.row {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 10%; /* Set the width of the main content */
  background-color: rgb(255, 255, 255); /* White background color */
  padding: 20px; /* Some padding */
}


.doll-area {
    background-color: #f5adc7;
    width: 400px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    margin-left: 30px;
    /* Add background image for the doll base here if needed */
}


.clothing-item {
    border-width: 100px;
    width: 200px; /* Adjust size as needed */
    cursor: pointer;
    margin-bottom: 0px;
}

.title {
    margin-top: -10px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
}

.hidden {
    display: none; /* Removes the element from the document flow completely */
    /* Alternatively, use visibility: hidden; if you want the element to retain its space on the page */
}

.container {
    margin-top: -502px;
     margin-left: 440px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.container div {;
    background-color: #f5adc7;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    margin-right: 5px;

}