/* styles.css file */
.header {
padding: 40px;
text-align: center;
background-image: url(https://i.pinimg.com/1200x/72/87/59/728759150b0ce3fe712e6e3a8c89489e.jpg) ;
background-size: 30%;
color: rgb(251, 163, 195);
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}




.header h1 {
    font-size: 40px;
    position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

.navbar {
overflow: hidden;
background-color: rgb(108, 120, 19);
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

.navbar a {
float:left;
display:block;
color: #f5adc7;
text-align: center;
padding: 14px 20px;
text-decoration: none;
position: relative;
}

.navbar a.right {
float: right;
position: relative;
}

.navbar a:hover {
background-color: grey;
color: rgb(124, 36, 90);
position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

.main {
  flex: 10%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}


.doll-area {
    background-color: #f5adc7;
    width: 400px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    margin-left: 30px;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}


.clothing-item {
    border-width: 100px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 0px;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.title {
    background-color: rgb(108, 120, 19);
    margin-top: -10px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    border: 0.5px solid black;
    color:#f5adc7;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.title:hover {
    background-color: rgb(141, 150, 76);
    color: white;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.hidden {
    display: none; 
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.container {
    margin-top: -502px;
     margin-left: 440px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.clothes {
    background-color: #f5adc7;
    padding: 10px 20px;
    border: 0.5px solid black;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.clothes:hover {
    background-color: rgb(124, 36, 90);
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.resetButton {
    background-color: rgb(108, 120, 19);
    border: none;
    position: absolute;
    margin-top: -80px;
    margin-left: 20px;
    scale: 1.5;
    color: #f5adc7;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

.spin {
    transform-origin: center;
    animation: spin 1.3s ease-in-out infinite;
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

